#{include '_include/header.html' /}

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>New Project</h4>
            </div>
        </div>
        <div class="panel-body">
            <form class="form form-vertical">
                <div class="control-group">
                    <label>Name</label>
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="Enter Name">
                    </div>
                </div>
                <div class="control-group">
                    <label>Description</label>
                    <div class="controls">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <!--/panel content-->
    </div>
    <!--/panel-->

#{include '_include/footer.html' /}